.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}

.scroll-button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-button:hover {
    background-color: var(--white);
}

.scroll-icon {
    width: 3rem;
}